.message-box {
	--color-message-box: #ffc;

	display: block;
	background-color: var(--color-message-box);
	color: var(--color-gray-90);
	padding: 1em 0.625em; /* 16px 10px /16 */
	margin: 1.25em 0;
	border-left: 0.25em solid #a07900;

	border-radius: 0px 30px 30px 0px;
}

.message-box.warning {
	--color-message-box: #fff4e5;
	border-left-color: #d06d21;
}

.message-box__title {
	margin: 0 0 .5em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 0.75em;
	color: inherit;
}

@media (prefers-color-scheme: dark) {
	.message-box.warning {
		--color-message-box: #432e1e;
		border-left-color: #fcd34d;
	}
}
